<div class='dashboard'>
    <navbar></navbar>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            

            <div class="registration-form">
                <div class="form-icon">
                    <span><i class="fas fa-skiing"></i></span>
                    <span><i class="fas fa-swimmer"></i></span>
                    </div>
            <div class="row">
                
                    <h2 class = "text-center">Create an Account ! </h2>
                 
                
                    <div class="col">
                <div class="form-group">
                    <input  type="text" class="form-control item" id="lblfname" name="fname" placeholder="Enter First Name"
                    [(ngModel)]="customerDetails.fname">
                </div>
                </div>
            
                    <div class="col">
                        <div class="form-group">
                    <input type="text" class="form-control" id="lbllname " name="lname" placeholder="Enter Last Name"
                    [(ngModel)]="customerDetails.lname" >
                        </div>
                    </div>
            </div>
            <div class="row">
                <p>Choose your gender:</p>
                <div class="col">
                     <div class="form-check-inline">
                    <label class="form-check-label" for="lblrdmale"> Male  </label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      [(ngModel)]="customerDetails.gender"
                      id="lblgender"
                      value="Male"
                      checked
                    />
                     </div>
                </div>
                <div class="col">
                    <div class="form-check-inline">
                    <label class="form-check-label" for="lblrdfemale"> Female </label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      [(ngModel)]="customerDetails.gender"
                      id="lblgender"
                      value="Female"
                    />
                </div>
                </div>
                <div class="col">
                    <div class="form-check-inline">
                    <label class="form-check-label" for="lblrdother"> Other </label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      [(ngModel)]="customerDetails.gender"
                      id="lblgender"
                      value="Other"
                    />
                </div>
                </div>
                  </div>
                  <br/>
        <div class="row">
             <div class="col">
                <div class="form-group">
                    <input type="email" class="form-control" id="lblemail" name="email"
                    placeholder="Enter Email ID" [(ngModel)]="customerDetails.email">
                </div>
             </div>
             <div class="col">
                <div class="form-group">
                    <input type="password" class="form-control" id="lblpass" name="password" placeholder="Enter Password"
                    [(ngModel)]="customerDetails.password" >
                </div>
             </div>
        <div class="row">
            <div class="col">     
                <div class="form-group">
                  <input type="date" class="form-control" id="lbldate" name="dateOfBirth" placeholder="Enter Date Of Birth"
                  [(ngModel)]="customerDetails.dateOfBirth" >
              </div>
            </div>
          
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" id="lblphon" name="phone" placeholder="Enter your phone number" 
                [(ngModel)]="customerDetails.phone" required>
              </div>
            </div>
        </div>   
        <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="number" class="form-control" id="lbldoor" name="doorno"
                placeholder="Enter your door number" [(ngModel)]="customerDetails.doorno" >
              </div>
            </div>  
            <div class="col">
                <div class="form-group">
                <input type="text" class="form-control" id="lblstreet" name="street"
                placeholder="Enter your street" [(ngModel)]="customerDetails.street" >
                </div>
            </div>    
        </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" id="lblcity" name="city"
                placeholder="Enter your city" [(ngModel)]="customerDetails.city" >
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="number" class="form-control" id="lblpincode" name="pincode"
                placeholder="Enter your Pincoder" [(ngModel)]="customerDetails.pincode" >
            </div>
        </div>
    </div>

            <div class="form-group">
                    <button type="button" (click)="addCustomer()" class="btn btn-block create-account">Create Account</button>
            </div>
            
                
            </div>
            <div class='container'>

            </div>
        </div>
    </div>
</div>