
<div>
  <div class="form-row">
    <div class="form-group">
      <label for="lblfname">Package Name </label>
      <input
        type="text"
        class="form-control"
        id="lblfname"
        name="packageName"
        [(ngModel)]="packageData.packagename"
      />
    </div>
    {{ packageData.packagename }}


    <div class="form-group">
      <label for="lbllname">Location </label>
      <input
        type="text"
        class="form-control"
        id="lbllname"
        name="lname"
        [(ngModel)]="packageData.location"
      />
    </div>
    {{ packageData.location }}


    <div>
      <label for="lblgender">Hotel </label> <br />
      <div class="form-group">
        <input
        type="text"
        class="form-control"
        id="lbllname"
        name="lname"
        [(ngModel)]="packageData.hotelname"
      />
    </div>
    {{ packageData.hotelname }}
    
    <div class="form-group">
      <label for="lblhcost">Hotel Cost Per Day</label>
      <input
        type="number"
        class="form-control"
        id="lblhcost"
        name="hotelCostPerDay"
        placeholder="Enter Hotel Cost Per Day"
        [(ngModel)]="packageData.hotelCostPerDay"
      />
    </div>
    {{ packageData.hotelCostPerDay }}


    <div class="form-group">
        <label for="lblhcost">Cost Per Day</label>
        <input
          type="number"
          class="form-control"
          id="lblcost"
          name="costPerDay"
          placeholder="Enter Cost Per Day"
          [(ngModel)]="packageData.costPerDay"
        />
      </div>
      {{ packageData.costPerDay }}
  

</div>
  <div class="form-group">
    <button type="submit" (click)="updatePackage()" class="btn btn-primary">
      Update Package
    </button>
  </div>
</div>
